<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>Czym jest Razor?</h2>
        Razor oferuje składnię pozwalającą operować na danych .NETowych w kodzie
        widoku strony internetowej. Można np. wyświetlić aktualną godzinę:
        @DateTime.Now.ToShortTimeString()
    </body>
</html>
